@font-face {
  font-family: 'bahnschrift';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/bahnschrift.ttf);
}

body {
    font-family: 'bahnschrift';
    background-color: #ffeeed;
}

#error {
    color: red;
}