@font-face {
  font-family: 'bahnschrift';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/bahnschrift.ttf);
}

body {
    --black-color: black;
    --white-color: gray;
    --border-color: #222;

    font-family: 'bahnschrift';
    background-color: #000000;
    color: white;
}

#error {
    color: red;
}